<p>Pandas is a Python library that provides data structures and functions
for working with structured data, primarily tabular data.
Pandas is built on top of NumPy and some familiarity with NumPy
makes Pandas easier to use and understand.
Pandas has two data structures that you need to know the basics of,
and these are called Series and Data Frame.
In short, Series is a one-dimensional array-like object,
and Data Frame is a two-dimensional array-like object.
Both objects also contain additional information about the data
called metadata</p>

In [4]:
import pandas as pd

x = pd.Series([9,7,5,3,9])
x

0    9
1    7
2    5
3    3
4    9
dtype: int64

In [10]:
x = pd.Series([9,7,5,3,9], index=["q","w","e","r","t"])
x, x[["q", "t"]]

(q    9
 w    7
 e    5
 r    3
 t    9
 dtype: int64, q    9
 t    9
 dtype: int64)

In [15]:
age = {"A": 10, "B": 11, "C": 13}
pd.Series(age)

A    10
B    11
C    13
dtype: int64

In [19]:
data = {
    "name": ["A", "B", "C"],
    "age": [11, 12, 13],
    "virgin": [True, True, False] 
}
pd.Series(data)

name                [A, B, C]
age              [11, 12, 13]
virgin    [True, True, False]
dtype: object

In [22]:
pd.DataFrame(data, columns=["age", "name", "virgin"])

   age name  virgin
0   11    A    True
1   12    B    True
2   13    C   False

In [25]:
x.index

Index(['q', 'w', 'e', 'r', 't'], dtype='object')

In [27]:
sorted(x.index)

['e', 'q', 'r', 't', 'w']

In [29]:
x.reindex(sorted(x.index))

e    5
q    9
r    3
t    9
w    7
dtype: int64

In [33]:
y = pd.Series([5,3,1], index=["w","e","r"])
x + y

e     8.0
q     NaN
r     4.0
t     NaN
w    12.0
dtype: float64