In [5]:
import pandas as pd

df = pd.read_csv("ConnectionList(1-50Meters).csv")
df.head()

   Sequence id     Meter     Date in meter Connection Status
0    967376587  00100467  10-02-2016 05:47         Connected
1    967419043  00100467  10-02-2016 06:05      Disconnected
2    967427759  00100467  10-02-2016 06:08         Connected
3    967873007  00100467  10-02-2016 08:41         Connected
4    967873003  00100467  10-02-2016 08:41      Disconnected

In [9]:
df.shape

(66442, 4)

In [11]:
df.columns

Index(['Sequence id', 'Meter', 'Date in meter', 'Connection Status'], dtype='object')

In [21]:
df = df.rename(columns={
    "Sequence id": "sequence_id",
    "Meter": "meter",
    "Date in meter": "meterdate",
    "Connection Status": "connection_status"})
df.tail()

       sequence_id     meter         meterdate connection_status
66437   1077175151  00105F86  09-03-2016 09:07         Connected
66438   1077193715  00105F86  09-03-2016 09:12      Disconnected
66439   1077195219  00105F86  09-03-2016 09:13         Connected
66440   1077213907  00105F86  09-03-2016 09:18      Disconnected
66441   1077215403  00105F86  09-03-2016 09:18         Connected

In [26]:
df.dtypes

sequence_id           int64
meter                object
meterdate            object
connection_status    object
dtype: object

In [32]:
df.loc[df["sequence_id"] == 1077175151]

       sequence_id     meter         meterdate connection_status
66437   1077175151  00105F86  09-03-2016 09:07         Connected

In [39]:
meters = pd.unique(df["meter"])
meters

array(['00100467', '001005CC', '0010074B', '00100923', '0010098B',
       '00100C37', '0010100E', '001013CC', '0010147B', '0010202C',
       '00102087', '00102105', '00102311', '001029C0', '00102A64',
       '00102AEC', '00102B8F', '00102C66', '00102E98', '00102ED4',
       '00103031', '00103275', '0010340E', '001034FB', '00103508',
       '00103996', '00103E06', '00104700', '00104795', '0010492D',
       '00104938', '00104EC8', '00104FB7', '001051F5', '0010528A',
       '00105423', '00105434', '00105445', '0010547A', '0010574C',
       '001059E8', '00105DF4', '00105E12', '00105E4F', '00105E61',
       '00105E7E', '00105E89', '00105EC1', '00105F4E', '00105F86'],
      dtype=object)

In [61]:
meter001 = df.loc[df["meter"] == meters[0]]
meter001.head()  #.connection_status == "Connected"

   sequence_id     meter         meterdate connection_status
0    967376587  00100467  10-02-2016 05:47         Connected
1    967419043  00100467  10-02-2016 06:05      Disconnected
2    967427759  00100467  10-02-2016 06:08         Connected
3    967873007  00100467  10-02-2016 08:41         Connected
4    967873003  00100467  10-02-2016 08:41      Disconnected

In [81]:
import numpy as np
mdt = {meter001.meter.loc[0] :np.array(meter001.loc[meter001["connection_status"] == "Connected"]["meterdate"]).tolist()}

In [115]:
finalresult = {}
for meter in meters:
    m = df.loc[df["meter"] == meter]
    finalresult[meter] = np.array(m.loc[m["connection_status"] == "Connected"]["meterdate"]).tolist()

In [116]:
len(finalresult["001051F5"])

53

In [129]:
d1 = df.loc[df["meter"] == "001051F5"]
len(d1.loc[d1["connection_status"] == "Connected"])

53