In [1]:
import pandas as pd

df = pd.read_csv("ConnectionList(1-50Meters).csv")
df.head()

   Sequence id     Meter     Date in meter Connection Status
0    967376587  00100467  10-02-2016 05:47         Connected
1    967419043  00100467  10-02-2016 06:05      Disconnected
2    967427759  00100467  10-02-2016 06:08         Connected
3    967873007  00100467  10-02-2016 08:41         Connected
4    967873003  00100467  10-02-2016 08:41      Disconnected

In [2]:
df = df.rename(columns={
    "Sequence id": "sequence_id",
    "Meter": "meter",
    "Date in meter": "meterdate",
    "Connection Status": "connection_status"})
df.tail()

       sequence_id     meter         meterdate connection_status
66437   1077175151  00105F86  09-03-2016 09:07         Connected
66438   1077193715  00105F86  09-03-2016 09:12      Disconnected
66439   1077195219  00105F86  09-03-2016 09:13         Connected
66440   1077213907  00105F86  09-03-2016 09:18      Disconnected
66441   1077215403  00105F86  09-03-2016 09:18         Connected

In [3]:
meters = pd.unique(df["meter"])
meters

array(['00100467', '001005CC', '0010074B', '00100923', '0010098B',
       '00100C37', '0010100E', '001013CC', '0010147B', '0010202C',
       '00102087', '00102105', '00102311', '001029C0', '00102A64',
       '00102AEC', '00102B8F', '00102C66', '00102E98', '00102ED4',
       '00103031', '00103275', '0010340E', '001034FB', '00103508',
       '00103996', '00103E06', '00104700', '00104795', '0010492D',
       '00104938', '00104EC8', '00104FB7', '001051F5', '0010528A',
       '00105423', '00105434', '00105445', '0010547A', '0010574C',
       '001059E8', '00105DF4', '00105E12', '00105E4F', '00105E61',
       '00105E7E', '00105E89', '00105EC1', '00105F4E', '00105F86'],
      dtype=object)

In [4]:
import numpy as np

finalresult = {}
for meter in meters:
    m = df.loc[df["meter"] == meter]
    finalresult[meter] = np.array(m.loc[m["connection_status"] == "Connected"]["meterdate"]).tolist()

In [7]:
df.index = df.sequence_id
df = df.drop('sequence_id', 1)

In [60]:
df.head()

                meter         meterdate connection_status
sequence_id
967376587    00100467  10-02-2016 05:47         Connected
967419043    00100467  10-02-2016 06:05      Disconnected
967427759    00100467  10-02-2016 06:08         Connected
967873007    00100467  10-02-2016 08:41         Connected
967873003    00100467  10-02-2016 08:41      Disconnected

In [62]:
# ------------------------------------------------------------------------------------------

In [36]:
from datetime import datetime
result = {}
for meter in meters:
    for index,row in df.loc[df['meter'] == meter].iterrows():
        meterdatetime = datetime.strptime(row.meterdate, '%d-%m-%Y %H:%M')
        if row.connection_status == 'Connected':
            if result.get(meter, False):
                if not len(result[meter][-1]) == 1:
                    result[meter].append([meterdatetime])
            else:
                result[meter] = [[meterdatetime]]
        else:
            if result.get(meter, False):
                if len(result[meter][-1]) == 1:
                    result[meter][-1].append(meterdatetime)
            else:
                result[meter] = [[0, meterdatetime]]

In [38]:
result['00100467']

[[datetime.datetime(2016, 2, 10, 5, 47), datetime.datetime(2016, 2, 10, 6, 5)],
 [datetime.datetime(2016, 2, 10, 6, 8), datetime.datetime(2016, 2, 10, 8, 41)],
 [datetime.datetime(2016, 2, 10, 10, 11),
  datetime.datetime(2016, 2, 10, 10, 11)],
 [datetime.datetime(2016, 2, 11, 3, 57), datetime.datetime(2016, 2, 11, 4, 1)],
 [datetime.datetime(2016, 2, 11, 7, 30),
  datetime.datetime(2016, 2, 11, 7, 30)],
 [datetime.datetime(2016, 2, 11, 14, 43),
  datetime.datetime(2016, 2, 11, 18, 26)],
 [datetime.datetime(2016, 2, 12, 12, 16),
  datetime.datetime(2016, 2, 12, 13, 27)],
 [datetime.datetime(2016, 2, 12, 13, 32),
  datetime.datetime(2016, 2, 12, 13, 34)],
 [datetime.datetime(2016, 2, 14, 16, 47),
  datetime.datetime(2016, 2, 14, 16, 58)],
 [datetime.datetime(2016, 2, 16, 7, 33),
  datetime.datetime(2016, 2, 16, 10, 36)],
 [datetime.datetime(2016, 2, 16, 13, 33),
  datetime.datetime(2016, 2, 16, 13, 56)],
 [datetime.datetime(2016, 2, 16, 14, 17),
  datetime.datetime(2016, 2, 16, 20, 6)],
 [datetime.datetime(2016, 2, 16, 20, 6),
  datetime.datetime(2016, 2, 16, 22, 25)],
 [datetime.datetime(2016, 2, 16, 22, 31),
  datetime.datetime(2016, 2, 16, 22, 53)],
 [datetime.datetime(2016, 2, 16, 22, 53),
  datetime.datetime(2016, 2, 17, 2, 16)],
 [datetime.datetime(2016, 2, 18, 17, 31),
  datetime.datetime(2016, 2, 18, 17, 42)],
 [datetime.datetime(2016, 2, 19, 15, 24),
  datetime.datetime(2016, 2, 19, 16, 16)],
 [datetime.datetime(2016, 2, 20, 6, 15),
  datetime.datetime(2016, 2, 20, 15, 6)],
 [datetime.datetime(2016, 2, 23, 8, 24),
  datetime.datetime(2016, 2, 23, 10, 36)],
 [datetime.datetime(2016, 3, 7, 10, 57), datetime.datetime(2016, 3, 7, 11, 0)],
 [datetime.datetime(2016, 3, 8, 6, 27), datetime.datetime(2016, 3, 8, 6, 30)],
 [datetime.datetime(2016, 3, 8, 6, 31), datetime.datetime(2016, 3, 8, 6, 43)],
 [datetime.datetime(2016, 3, 8, 14, 35),
  datetime.datetime(2016, 3, 8, 22, 30)],
 [datetime.datetime(2016, 3, 8, 22, 31)]]

In [63]:
# OFF time
OFF = {}
for i, j in zip(range(len(result['00100467'])), range(1, len(result['00100467']))):
    OFF[result['00100467'][i][1]] = (result['00100467'][j][0] - result['00100467'][i][1])
OFF

{datetime.datetime(2016, 2, 10, 6, 5): datetime.timedelta(0, 180),
 datetime.datetime(2016, 2, 10, 8, 41): datetime.timedelta(0, 5400),
 datetime.datetime(2016, 2, 10, 10, 11): datetime.timedelta(0, 63960),
 datetime.datetime(2016, 2, 11, 4, 1): datetime.timedelta(0, 12540),
 datetime.datetime(2016, 2, 11, 7, 30): datetime.timedelta(0, 25980),
 datetime.datetime(2016, 2, 11, 18, 26): datetime.timedelta(0, 64200),
 datetime.datetime(2016, 2, 12, 13, 27): datetime.timedelta(0, 300),
 datetime.datetime(2016, 2, 12, 13, 34): datetime.timedelta(2, 11580),
 datetime.datetime(2016, 2, 14, 16, 58): datetime.timedelta(1, 52500),
 datetime.datetime(2016, 2, 16, 10, 36): datetime.timedelta(0, 10620),
 datetime.datetime(2016, 2, 16, 13, 56): datetime.timedelta(0, 1260),
 datetime.datetime(2016, 2, 16, 20, 6): datetime.timedelta(0),
 datetime.datetime(2016, 2, 16, 22, 25): datetime.timedelta(0, 360),
 datetime.datetime(2016, 2, 16, 22, 53): datetime.timedelta(0),
 datetime.datetime(2016, 2, 17, 2, 16): datetime.timedelta(1, 54900),
 datetime.datetime(2016, 2, 18, 17, 42): datetime.timedelta(0, 78120),
 datetime.datetime(2016, 2, 19, 16, 16): datetime.timedelta(0, 50340),
 datetime.datetime(2016, 2, 20, 15, 6): datetime.timedelta(2, 62280),
 datetime.datetime(2016, 2, 23, 10, 36): datetime.timedelta(13, 1260),
 datetime.datetime(2016, 3, 7, 11, 0): datetime.timedelta(0, 70020),
 datetime.datetime(2016, 3, 8, 6, 30): datetime.timedelta(0, 60),
 datetime.datetime(2016, 3, 8, 6, 43): datetime.timedelta(0, 28320),
 datetime.datetime(2016, 3, 8, 22, 30): datetime.timedelta(0, 60)}

In [64]:
# ON time
ON = {}
for i in result['00100467']:
    if len(i) == 2:
        ON[i[0]] = (i[1] - i[0])
ON

{datetime.datetime(2016, 2, 10, 5, 47): datetime.timedelta(0, 1080),
 datetime.datetime(2016, 2, 10, 6, 8): datetime.timedelta(0, 9180),
 datetime.datetime(2016, 2, 10, 10, 11): datetime.timedelta(0),
 datetime.datetime(2016, 2, 11, 3, 57): datetime.timedelta(0, 240),
 datetime.datetime(2016, 2, 11, 7, 30): datetime.timedelta(0),
 datetime.datetime(2016, 2, 11, 14, 43): datetime.timedelta(0, 13380),
 datetime.datetime(2016, 2, 12, 12, 16): datetime.timedelta(0, 4260),
 datetime.datetime(2016, 2, 12, 13, 32): datetime.timedelta(0, 120),
 datetime.datetime(2016, 2, 14, 16, 47): datetime.timedelta(0, 660),
 datetime.datetime(2016, 2, 16, 7, 33): datetime.timedelta(0, 10980),
 datetime.datetime(2016, 2, 16, 13, 33): datetime.timedelta(0, 1380),
 datetime.datetime(2016, 2, 16, 14, 17): datetime.timedelta(0, 20940),
 datetime.datetime(2016, 2, 16, 20, 6): datetime.timedelta(0, 8340),
 datetime.datetime(2016, 2, 16, 22, 31): datetime.timedelta(0, 1320),
 datetime.datetime(2016, 2, 16, 22, 53): datetime.timedelta(0, 12180),
 datetime.datetime(2016, 2, 18, 17, 31): datetime.timedelta(0, 660),
 datetime.datetime(2016, 2, 19, 15, 24): datetime.timedelta(0, 3120),
 datetime.datetime(2016, 2, 20, 6, 15): datetime.timedelta(0, 31860),
 datetime.datetime(2016, 2, 23, 8, 24): datetime.timedelta(0, 7920),
 datetime.datetime(2016, 3, 7, 10, 57): datetime.timedelta(0, 180),
 datetime.datetime(2016, 3, 8, 6, 27): datetime.timedelta(0, 180),
 datetime.datetime(2016, 3, 8, 6, 31): datetime.timedelta(0, 720),
 datetime.datetime(2016, 3, 8, 14, 35): datetime.timedelta(0, 28500)}