In [1]:
import pandas as pd

df = pd.read_csv("ConnectionList(1-50Meters).csv")
df.head()

   Sequence id     Meter     Date in meter Connection Status
0    967376587  00100467  10-02-2016 05:47         Connected
1    967419043  00100467  10-02-2016 06:05      Disconnected
2    967427759  00100467  10-02-2016 06:08         Connected
3    967873007  00100467  10-02-2016 08:41         Connected
4    967873003  00100467  10-02-2016 08:41      Disconnected

In [2]:
df = df.rename(columns={
    "Sequence id": "sequence_id",
    "Meter": "meter",
    "Date in meter": "meterdate",
    "Connection Status": "connection_status"})
df.tail()

       sequence_id     meter         meterdate connection_status
66437   1077175151  00105F86  09-03-2016 09:07         Connected
66438   1077193715  00105F86  09-03-2016 09:12      Disconnected
66439   1077195219  00105F86  09-03-2016 09:13         Connected
66440   1077213907  00105F86  09-03-2016 09:18      Disconnected
66441   1077215403  00105F86  09-03-2016 09:18         Connected

In [3]:
meters = pd.unique(df["meter"])
meters

array(['00100467', '001005CC', '0010074B', '00100923', '0010098B',
       '00100C37', '0010100E', '001013CC', '0010147B', '0010202C',
       '00102087', '00102105', '00102311', '001029C0', '00102A64',
       '00102AEC', '00102B8F', '00102C66', '00102E98', '00102ED4',
       '00103031', '00103275', '0010340E', '001034FB', '00103508',
       '00103996', '00103E06', '00104700', '00104795', '0010492D',
       '00104938', '00104EC8', '00104FB7', '001051F5', '0010528A',
       '00105423', '00105434', '00105445', '0010547A', '0010574C',
       '001059E8', '00105DF4', '00105E12', '00105E4F', '00105E61',
       '00105E7E', '00105E89', '00105EC1', '00105F4E', '00105F86'],
      dtype=object)

In [12]:
import numpy as np

finalresult = {}
for meter in meters:
    m = df.loc[df["meter"] == meter]
    finalresult[meter] = np.array(m.loc[m["connection_status"] == "Connected"]["meterdate"]).tolist()

In [15]:
finalresult["00100467"]

['10-02-2016 05:47',
 '10-02-2016 06:08',
 '10-02-2016 08:41',
 '10-02-2016 10:11',
 '11-02-2016 03:57',
 '11-02-2016 04:01',
 '11-02-2016 07:30',
 '11-02-2016 14:43',
 '12-02-2016 12:16',
 '12-02-2016 13:32',
 '12-02-2016 13:34',
 '14-02-2016 16:47',
 '16-02-2016 07:33',
 '16-02-2016 13:33',
 '16-02-2016 14:17',
 '16-02-2016 20:06',
 '16-02-2016 22:25',
 '16-02-2016 22:31',
 '16-02-2016 22:53',
 '18-02-2016 17:31',
 '19-02-2016 15:24',
 '20-02-2016 06:15',
 '23-02-2016 08:24',
 '07-03-2016 10:57',
 '07-03-2016 11:00',
 '08-03-2016 06:27',
 '08-03-2016 06:31',
 '08-03-2016 14:35',
 '08-03-2016 22:31']

In [16]:
finalresult["001051F5"]

['13-02-2016 10:30',
 '13-02-2016 11:28',
 '15-02-2016 12:01',
 '16-02-2016 09:33',
 '16-02-2016 10:07',
 '16-02-2016 10:18',
 '16-02-2016 10:48',
 '16-02-2016 11:08',
 '17-02-2016 09:33',
 '17-02-2016 13:25',
 '17-02-2016 14:26',
 '17-02-2016 14:47',
 '19-02-2016 06:10',
 '19-02-2016 06:33',
 '22-02-2016 14:02',
 '22-02-2016 14:15',
 '22-02-2016 14:35',
 '23-02-2016 04:33',
 '23-02-2016 05:59',
 '23-02-2016 07:06',
 '23-02-2016 07:58',
 '23-02-2016 08:07',
 '23-02-2016 08:50',
 '23-02-2016 09:03',
 '23-02-2016 09:36',
 '24-02-2016 10:24',
 '24-02-2016 15:56',
 '24-02-2016 16:34',
 '24-02-2016 16:46',
 '24-02-2016 16:57',
 '24-02-2016 17:09',
 '27-02-2016 15:04',
 '29-02-2016 10:07',
 '29-02-2016 10:28',
 '04-03-2016 14:13',
 '04-03-2016 14:25',
 '06-03-2016 02:11',
 '06-03-2016 02:32',
 '06-03-2016 03:01',
 '06-03-2016 03:30',
 '06-03-2016 03:42',
 '06-03-2016 03:53',
 '06-03-2016 04:13',
 '06-03-2016 04:25',
 '06-03-2016 22:32',
 '07-03-2016 13:40',
 '08-03-2016 09:21',
 '08-03-2016 09:47',
 '08-03-2016 21:12',
 '08-03-2016 21:34',
 '08-03-2016 21:45',
 '08-03-2016 22:07',
 '08-03-2016 22:18']